.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 40px;

}

.logon-container section.form form h1 {
    font-size: 28px;
    margin-bottom: 22px;
}



.imgSmile {
    width: 50%;
    height: 70%;
    border: 1px solid #958282;
    box-sizing: border-box;
    border-radius: 20%;
    margin-right: -30%;
    margin-left: 5%;
}

@media (max-width:900px) {
    .logon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
                
    }

    .logon-container .form {
        width: 70%;
        margin-top: -180px;
        margin-left: 100px;
    }

    .logon-container .logo{
        width: 70%;               
    }

    .logon-container .imgSmile{
        width: 30%;
        height: 15%;
        margin: 50px auto;
        position: absolute;
        top: 2px;  
        opacity: 0.0;      
    }

}

